.u-section-1 .u-sheet-1 {
  min-height: 1094px;
}

.u-section-1 .u-icon-1 {
  height: 244px;
  width: 244px;
  background-image: none;
  margin: 72px auto 0 438px;
}

.u-section-1 .u-tabs-1 {
  min-height: 660px;
  margin: -15px auto 60px -10px;
}

.u-section-1 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 10px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 0 968px 0 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-1 .u-table-1 {
  width: 746px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-table-body-1 {
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-2 {
  text-transform: none;
}

.u-section-1 .u-table-cell-4 {
  text-transform: none;
}

.u-section-1 .u-table-cell-6 {
  text-transform: none;
}

.u-section-1 .u-table-cell-8 {
  text-transform: none;
}

.u-section-1 .u-table-cell-10 {
  text-transform: none;
}

.u-section-1 .u-table-cell-12 {
  text-transform: none;
}

.u-section-1 .u-table-cell-14 {
  text-transform: none;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 43px 0 auto;
  padding: 36px 74px 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-tabs-1 {
    height: auto;
    margin-bottom: 11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: 758px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 538px;
  }

  .u-section-1 .u-table-1 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-left: 296px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 378px;
  }

  .u-section-1 .u-table-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 178px;
  }

  .u-section-1 .u-table-1 {
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 592px;
}