<!DOCTYPE html>
<html lang="en">
<head>
<title>Add New Employee</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper">
<div class="container" style="min-height:100% width:80%">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block body %}{% endblock %}
  </div>
  <form class="form-signin_up" method="post" action="{{ '/add_new_employee' }}">
    <h2 class="form-signin_up-heading">Add New Employee</h2>
    <br></br>
    <label for="job">Job::</label>
    <select id="job" name="job">
      <option value="Accountant">Accountant</option>
      <option value="Analyst">Analyst</option>
      <option value="Carrier">Carrier</option>
      <option value="Chemist">Chemist</option>
      <option value="Customer Service">Customer Service</option>
      <option value="Supplier">Supplier</option>
      <option value="Wokrer">Worker</option>
    </select>
    <label>Name: </label>
    <input type="text" class="form-control" name="name" required="" autofocus="" />
    <label>Surname: </label>
    <input type="text" class="form-control" name="surname" required="" autofocus="" />
    <label>Address: </label>
    <input type="textarea" class="form-control" name="address" required="" autofocus="" />
    <label>Telno: </label>
    <input type="tel" class="form-control" name="telno" required="" autofocus="" />
    <label>Birthdate: </label>
    <input type="date" class="form-control" name="birthdate" required="" autofocus="" />
    <label>Startdate: </label>
    <input type="date" class="form-control" name="startdate" required="" autofocus="" />
    <label>Salary: </label>
    <input type="text" class="form-control" name="salary" required="" autofocus="" />
    <label>Email: </label>
    <input type="email" class="form-control" name="email" required="" autofocus="" />
    <label>Department ID: </label>
    <input type="text" class="form-control" name="departmentid" required="" autofocus="" />
    <label>Username: </label>
    <input type="text" class="form-control" name="username" required="" autofocus="" />
    <label>password: </label>
    <input type="password" class="form-control" name="password" required="" autofocus="" />
    <br></br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
    <p></p>
  </form>
</div>
