<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
</head>
<body>
    <h1 style="text-align: center">Welcome, {{ customer.cus_name }}</h1>
    <p> Your Informations</p>
    <table>
        <thead>
            <tr>
                <th>Gender</th>
                <th>Email</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Birthdate</th>
                <th>TelNo</th>
                <th>TotalOrder</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                {% if customer.cus_sex == False %}
                    <td>{{ "Male" }}</td>
                {% else %}
                    <td>{{ "Female" }}</td>
                {% endif %}
                <td>{{ customer.cus_email }}</td>
                <td>{{ customer.cus_name }}</td>
                <td>{{ customer.cus_surname }}</td>
                <td>{{ customer.cus_Birthdate}}</td>
                <td>{{ customer.cus_telNo}}</td>
                <td>{{ customer.cus_totalOrder}}</td>
                <td>{{ customerlogin.username }}</td>
                <td>{{ customerlogin.password}}</td>
            </tr>
        </tbody>
    </table>
    <a href = "update_customer_info_page"> <button style="text-align: center"> Update Info </button> </a> <br>
    <a href = "/"> <button style="text-align: center"> Logout</button> </a>
</body>
</html>
