<!DOCTYPE html>
<html lang="en">
<head>
<title>Employee Login</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper">
  <div class="container" style="min-height:100% width:80%">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block body %}{% endblock %}
  </div>
  <form class="form-signin_up" method="post" action="{{ '/employee_page' }}">
    <h2 class="form-signin_up-heading">Employee Login</h2>
    <label></label>
    <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
    <label></label>
    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>

    <label for="type">Employee Role:</label>
    <select id="gender" name="gender">
      <option value="chemist">Chemist</option>
      <option value="carrier">Carrier</option>
      <option value="analyst">Analyst</option>
      <option value="customer_service">Customer Service</option>
      <option value="supplier">Accountant</option>
      <option value="worker">Worker</option>
    </select>

    <label></label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <label></label>
  </form>
</div>
