<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            margin-top: -11%;
            margin-left: 55%;
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
            padding: 7px;
            background-color: brown;
            color: black;
            font-size: 1.1em;
            font-weight: bold;
            font-family: cursive;
        }
        </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<table>
            <tr>
               <th>order_no </th>
               <th>customer_id</th>
               <th>order_date</th>
            </tr>

            {% for ord in Order and OrderDate%}
               <tr>
                   <td>{{ ord.order_no }}</td>
                   <td>{{ ord.customer_id }}</td>
                   <td>{{ ord.order_date }}</td>
            {% endfor %}
      </table>
</body>
</html>
