<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            margin-top: -11%;
            margin-left: 55%;
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
            padding: 7px;
            background-color: brown;
            color: black;
            font-size: 1.1em;
            font-weight: bold;
            font-family: cursive;
        }
        </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <table>
            <tr>
               <th>memberID </th>
               <th>name</th>
               <th>surname</th>
               <th>address</th>
               <th>telNo</th>
               <th>Birthdate</th>
               <th>startDate</th>
               <th>salary</th>
               <th>email</th>
               <th>department_id</th>
            </tr>



            {% for emp in Employee %}
               <tr>
                   <td>{{ emp.memberID }}</td>
                   <td>{{ emp.name }}</td>
                   <td>{{ emp.surname }}</td>
                   <td>{{ emp.address }}</td>
                   <td>{{ emp.telNo }}</td>
                   <td>{{ emp.Birthdate }}</td>
                   <td>{{ emp.startDate }}</td>
                   <td>{{ emp.salary }}</td>
                   <td>{{ emp.email }}</td>
                   <td>{{ emp.department_id }}</td>
               </tr>
            {% endfor %}

      </table>
</body>
</html>
