<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
            padding: 7px;
            background-color: brown;
            color: black;
            font-size: 1.1em;
            font-weight: bold;
            font-family: cursive;
        }
        </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers</title>
</head>
<body>
<table>
            <tr>
               <th>Category </th>
               <th>ProductID</th>
               <th>Content</th>
               <th>Price </th>
               <th>Duration</th>
               <th>NumberOfStock</th>
            </tr>

            {% for prf in Perfume %}
               <tr>
                   <td>{{ prf.Category }}</td>
                   <td>{{ prf.ProductID }}</td>
                   <td>{{ prf.Content }}</td>
                   <td>{{ prf.Price }}</td>
                   <td>{{ prf.Duration }}</td>
                   <td>{{ prf.NumberOfStock }}</td>
            {% endfor %}
      </table>
</body>
</html>
