<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
            padding: 7px;
            background-color: brown;
            color: black;
            font-size: 1.1em;
            font-weight: bold;
            font-family: cursive;
        }
        </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers</title>
</head>
<body>
<table>

            <tr>
               <th>cus_id </th>
               <th>cus_sex</th>
               <th>cus_email</th>
               <th>cus_name</th>
               <th>cus_surname </th>
               <th>cus_Birthdate</th>
               <th>cus_telNo</th>
               <th>cus_totalOrder</th>
               <th>cus_address</th>
            </tr>


            {% for cus in Customer%}
               <tr>
                   <td>{{ cus.cus_id }}</td>
                   <td>{{ cus.cus_sex }}</td>
                   <td>{{ cus.cus_email }}</td>
                   <td>{{ cus.cus_name }}</td>
                   <td>{{ cus.cus_surname }}</td>
                   <td>{{ cus.cus_Birthdate }}</td>
                   <td>{{ cus.cus_telNo }}</td>
                   <td>{{ cus.cus_totalOrder }}</td>
                   <td>{{ cus.cus_address }}</td>
            {% endfor %}

      </table>
</body>
</html>
