<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
            padding: 7px;
            background-color: brown;
            color: black;
            font-size: 1.1em;
            font-weight: bold;
            font-family: cursive;
        }
        </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers</title>
</head>
<body>
<table>
            <tr>
               <th>vehicle_id </th>
               <th>licence</th>
               <th>kilometer</th>
               <th>first_price</th>
               <th>last_price</th>
               <th>vehicle_type</th>
            </tr>

            {% for vhc in VehicleFeatures %}
               <tr>
                   <td>{{ vhc.vehicle_id }}</td>
                   <td>{{ vhc.licence }}</td>
                   <td>{{ vhc.kilometer }}</td>
                   <td>{{ vhc.first_price }}</td>
                   <td>{{ vhc.last_price }}</td>
                   <td>{{ vhc.vehicle_type }}</td>
               </tr>
            {% endfor %}
      </table>
</body>
</html>
