<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
            padding: 7px;
            background-color: brown;
            color: black;
            font-size: 1.1em;
            font-weight: bold;
            font-family: cursive;
        }
        </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders for Carriers</title>
</head>
<body>
<table>
            <tr>
               <th>order_no </th>
               <th>customer_id</th>
               <th>order_date</th>
            </tr>

            {% for ord in Order %}
                {% for ord_d in OrderDate %}
                    {% if ord.order_no == ord_d.order_no%}
                        {% if ord.carrier_id==emp_id%}
               <tr>
                   <td>{{ ord.order_no }}</td>
                   <td>{{ ord.customer_id }}</td>
                   <td>{{ ord_d.order_date }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
      </table>
</body>
</html>
